<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<display-name>Teklib web application</display-name>
	
	<welcome-file-list>
		<welcome-file>/app/main.htm</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/teklib-servlet.xml,/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<listener>   
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>   
	</listener>  

	<!-- filter>
		<filter-name>jsonFilter</filter-name>
		<filter-class>org.squawk.server.www.filter.JsonContentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>jsonFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<servlet>
		<servlet-name>teklib</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>bookFiles</servlet-name>
		<servlet-class>org.teklib.www.servlet.BookServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>images</servlet-name>
		<servlet-class>org.teklib.www.servlet.ImageServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>teklib</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>teklib</servlet-name>
		<url-pattern>/ajax/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bookFiles</servlet-name>
		<url-pattern>/WEB-INF/jsp/bookFile.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>images</servlet-name>
		<url-pattern>/WEB-INF/jsp/image.jsp</url-pattern>
	</servlet-mapping>
</web-app>